:root{
    --color:rgb(221, 221, 238);
    --font-size:30px;
    --h3-color:rgb(18, 18, 83);
}
/*------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

hr{
    width: 100%;
    height: 3px;
    background-color: #f7f7ff;
}
/*-------------------- home page css-----------------------------*/
body{
    background-color: rgb(95, 29, 9);
    transition: margin-top 0.3s ease;
}

*{
    padding: 0%;
    margin: 0%;
    }
    
    
    header{
        margin: 0px;
        background-color:  rgb(105, 69, 48);
        font-family: "Philosopher";
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        border-bottom: white;
    }
    @media screen and (max-width: 768px) {
        .header {
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          align-content: center;
                    }
            .navlinks li{
                display: flex;
                flex-flow: column wrap;
                    }
            .navlinks li a{
                padding: 5px;
                font-size: 10px;
            }
            .navlinks li a:hover{
                font-size: 12px;
            }
    }
    .navlinks li{
        display: inline-block;
        padding: 0px 15px;
    }
    .navlinks li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        background-color: rgb(95, 29, 9);
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
        transition: all 0.3s ease 0s;
    }
    .navlinks li a:hover{
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color:rgb(221, 211, 179);
        padding: 20px;
        border: none;
        font-size: 25px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .navlinks li a:active{
        background-color: #9d91a5;
        color: #ffffff;
        transition: all 0.3s ease 0s;
    }
    .logo{
        cursor: pointer;
        margin-right: auto;
        width: 150px;
    }
    .book button{
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
        border-radius: 5px;
        font-family: "Philosopher";
        font-size: 20px;
        padding: 11px 15px 11px 15px;
        border:none;
        transition: all 0.3s ease 0s;
        color: black;
    }
    
    .book button:hover{
        cursor: pointer;
        background-color: rgb(209, 178, 160) ;
        text-decoration: none;
        font-family: "Philosopher";
        font-size: 25px;
        padding: 20px;
        transition: all 0.3s ease 0s;
        border-radius: 5px;
        color: black;
    }
    
    
    /*Dropdown Menu thingie*/
    
    .dropdown_menu{
        display: none;
        position:absolute;
        top: 20%;
        left: 50%;
        width: 50%;
        height: 0;
        background-color:  rgb(105, 69, 48);
        border: none;;
        backdrop-filter: blur(15px);
        border-radius:5px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .dropdown_menu.open{
        height: 360px;
    }
    .dropdown_menu li{
        padding: 0.7rem;
        padding: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
    }
    .dropdown_menu li a{
        text-decoration: none;
        color: #ffffff;
    }
    .dropdown_menu .book button{
        width: 100%;
        padding: 2%;
        margin: 0%;
        display: flex;
        justify-content: center;
    }
    
    /*hamburger icon styling*/
    .menubtn{
        display: none;
        cursor: pointer;
    }
    .menu {
        --s: 10px; /* control the size */
        --c: rgb(255, 255, 255); /* the color */
        
        height: var(--s);
        aspect-ratio: 1;
        border: none;
        padding: 0;
        border-inline: calc(var(--s)/2) solid #0000; 
        box-sizing: content-box;
        --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
               no-repeat content-box border-box;
        --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
               repeat-y content-box border-box;
        background: 
          var(--_g2) left  var(--_p,0px) top,
          var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
          var(--_g2) right var(--_p,0px) top,
          var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
        background-size: 
          20% 80%,
          40% 100%;
        position: relative;
        clip-path: inset(0 25%);
        -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
        cursor: pointer;
        transition: 
          background-position .3s var(--_s,.3s), 
          clip-path 0s var(--_s,.6s);
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
      }
      .menu:before, 
      .menu:after {
        content:"";
        position: absolute;
        border-radius: var(--s);
        inset: 40% 0;
        background: var(--c);
        transition: transform .3s calc(.3s - var(--_s,.3s));
      }
      
      .menu:checked {
        clip-path: inset(0);
        --_p: calc(-1*var(--s));
        --_s: 0s;
      }
      .menu:checked:before {
        transform: rotate(45deg);
      }
      .menu:checked:after {
        transform: rotate(-45deg);
      }
      .menu:focus-visible {
        clip-path: none;
        -webkit-mask: none;
        border: none;
        outline: 2px solid var(--c);
        outline-offset: 5px;
      }
      
    @media screen and (max-width:1300px) {
        .navlinks, .book button{
            display: none;
        }
        .menubtn{
            display: block;
        }
        .dropdown_menu{
            display: block;
        }
    }
    /*---------------------------------------------------------------------------------------------------*/
    :root{
        --font-family: sans-serif;
    }
    
    h1{
        text-align: center;
        color: #e9e7ff7e;
        font-style: italic;
        margin-top: 2%;
        font-size: 50px;
    }

    p{
        font-family:var(--font-family);
        font-size: 20px;
        text-align: center;
    }
    h2{
        text-align:center;
        color: white;
    }

    #event2-info{
        font-size: 30px;
        text-align: center;
        font-family:var(--font-family);
        color:rgb(202, 205, 216);
    }

    @media (max-width: 768px) {
        #event2-info {
            font-size: 24px; 
            text-align: center;
        }}

    #event2-image{
        width: 60%;
        height: 350px;
        margin-left: 20%;
        margin-top:2%;
        border-radius: 10px;
        border: #fff solid 3px;
    }
    
    @media (max-width: 768px) {
        #event2-image {
            width: 100%; 
            margin:2px;
            height: auto; 
        }}


    .event2-para{
        background-color:rgb(214, 199, 167);
        color: rgb(7, 8, 61);
        width: 50%;
        height: 300px;
        margin-left: 25%;
        margin-top: 1%;
        padding: 5px;
        height: auto;
    }

    @media (max-width: 768px) {
        .event2-para {
            width: 90%; 
            margin: 1% auto; 
            text-align: justify;
        }
    }

    .e2-info-para{
        width: 40%;
        background-color: rgb(214, 199, 167);
        color: #080824;
        margin-top: 1%;  
        float: left;
        margin-left: 5%;
        height: auto;
    }

    @media (max-width: 768px) {
        .e2-info-para {
            width: 80%; 
            margin: 1% auto; 
            float: none; 
        }
    }

    .e2-info-para li{
        list-style: none;
        padding: 1%;
    }

    #footersection {
        margin-top: 20%;
        background-color: rgb(105, 69, 48);
        color: #fff;
        text-align: center;
        width: 100%;
        height: 400px;
    }
    @media screen and(width:768px){
        #footersection{
            width: 100%;
        }}
        
  
    h4{
        text-decoration: underline;
        font-size: 20px;

    }
    
    .footer-logo img {
        width: 150px; 
    }
    
    .footer-social img{
        width: 20px;
    }
    
    button a{
        color: #580c52;
        text-decoration: none;
    }

    

 

   
   
    


    


    
  
    


  